<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users Management System</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.bundle.css"></link>
  {{!-- <script src="https://use.fontawesome.com/3b19694c5b.js"></script> --}}
  <script src="js/main.bundle.js" defer></script>
</head>
<body>
  <div class="app-root">Loading...</div>
</body>
</html>